doctype html
html
  include head.pug
  body
    main
      h1 About
      p I'm working on translating my tweets to Español. Help me out by rating my translations or adding new ones!

      p
        a(href='/login') Login with Twitter to get started