doctype html
html
  include head.pug
  body
    header
      if user
        span Hi, 
        span.username  #{user.username}! 
        a(href='/logout') Logout
      else
        a(href='/login') Login with Twitter
    h1 Help Translate @taravancil's Tweets
    message= message
