* {
    box-sizing: border-box;
}

body {
    line-height: 1.5;
    font-family: -apple-system, BlinkMacSystemFont, Ubuntu, sans-serif;
    color: #111;
    padding: .3em;
    margin: 0;
}

@media (min-width: 600px) {
    body {
        padding: 1em;
    }
}

main {
    max-width: 900px;
}

header {
    position: relative;
}

.btn {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    outline: none;
    background: none;
    font-family: -apple-system, BlinkMacSystemFont, Ubuntu, sans-serif;
    font-size: 1em;
    border: 2px solid #000;
    border-radius: 2px;
    transition: all .15s ease;
    padding: .2em .4em;
    margin: 0 .3em 0 0;
    display: inline-block;
    line-height: 1;
    color: inherit;
}

.btn--link {
    border: none;
    text-decoration: underline;
}

.btn:hover {
    background: #000;
    color: #fff;
    cursor: pointer;
}

ul.tweets {
    list-style: none;
    margin: 0;
    padding: 0;
}

.tweet {
    margin: 1em 0 3em 0;
    max-width: 600px;
}

.twitter-tweet {
    padding: 1em;
    margin: 1em 0;
    background: #fafafa;
    border-radius: 2px;
    border: 1px solid #eee;
}

.rounded {
    border-radius: 2px;
}

.hidden {
    visibility: hidden;
}

.comments {
    list-style: none;
    margin: 0;
    padding: 0;
}

.comment {
    background: #ececec;
    list-style: none;
    margin: 1.5em 0;
    padding: .75em 1em;
    max-width: 450px;
}

.comment--translation {
    position: relative;
}

.comment--translation:before {
    content: 'translation';
    text-transform: uppercase;
    text-align: center;
    background: rgba(255,255,255,.9);
    color: rgba(0,0,0,.4);
    border-radius: 2px;
    padding: .1em .4em;
    font-size: .6em;
    position: absolute;
    right: 1em;
    top: 1em;
}

.comment__meta {
    font-size: .8em;
}

.comment__text {
    font-style: italic;
    margin: 1em 0 0 0;
}
