* {
    box-sizing: border-box;
}

body {
    line-height: 1.5;
    font-family: -apple-system, BlinkMacSystemFont, Ubuntu, sans-serif;
    color: #111;
    padding: .3em;
    margin: 0;
}

@media (min-width: 600px) {
    body {
        padding: 1em;
    }
}

main {
    max-width: 800px;
}

header {
    position: relative;
    padding: .5em 1em;
}

.rounded {
    border-radius: 2px;
}

.btn {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    outline: none;
    background: none;
    font-family: -apple-system, BlinkMacSystemFont, Ubuntu, sans-serif;
    font-size: 1em;
    border: 2px solid #000;
    border-radius: 2px;
    transition: all .15s ease;
}

.btn-link {
    border: none;
    text-decoration: underline;
}

.btn:hover {
    background: #000;
    color: #fff;
    cursor: pointer;
}

ul.tweets {
    list-style: none;
    margin: 0;
    padding: 0;
}

.twitter-tweet {
    padding: 1em;
    background: #fafafa;
    border-radius: 2px;
    border: 1px solid #eee;
}
