* {
    box-sizing: border-box;
}

body {
    line-height: 1.5;
    font-family: -apple-system, BlinkMacSystemFont, Ubuntu, sans-serif;
    color: #111;
    padding: .3em;
    margin: 0;
}

@media (min-width: 600px) {
    body {
        padding: 1em;
    }
}

header {
    position: relative;
}

button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    outline: none;
    background: none;
}

.btn {
    font-family: -apple-system, BlinkMacSystemFont, Ubuntu, sans-serif;
    font-size: 1em;
    border: 2px solid #000;
    border-radius: 2px;
    transition: all .15s ease;
    padding: .2em .4em;
    margin: 0 .3em 0 0;
    display: inline-block;
    line-height: 1;
    color: inherit;
}

.btn--link {
    border: none;
    text-decoration: underline;
}

.btn:hover {
    background: #000;
    color: #fff;
    cursor: pointer;
}

ul.tweets {
    list-style: none;
    margin: 0;
    padding: 0;
}

.tweet {
    margin: 1em 0;
    max-width: 600px;
}

.twitter-tweet {
    padding: 1em;
    margin: 1em 0;
    background: #fafafa;
    border-radius: 2px;
    border: 1px solid #eee;
}

.rounded {
    border-radius: 2px;
}

.hidden {
    display: none;
}

.translations {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.translation {
    position: relative;
    background: #ececec;
    list-style: none;
    margin: .5em;
    padding: .75em 1em;
    width: 350px;
}

.translation--admin:before {
    content: 'Tara\'s translation';
    text-align: center;
    background: rgba(255,255,255,.9);
    color: rgba(0,0,0,.4);
    border-radius: 2px;
    padding: .1em .4em;
    font-size: .6em;
    position: absolute;
    right: 1em;
    top: 1em;
}

.translation__meta {
    font-size: .8em;
}

.translation form {
    margin: 0 1em;
    display: inline-block;
}

.translation__text {
    font-style: italic;
    margin: 1em 0 0 0;
}

.arrow {
    width: 0;
    height: 0;
}

.arrow--up {
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid rgba(0,0,0,.4);
}

.arrow--down{
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid rgba(0,0,0,.4);
}

.votes {
    float: right;
}

.votes .count {
    font-weight: bold;
    color: rgba(0, 0, 0, .5);
}

.vote {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.vote i {
    display: block;
    text-align: center;
}

.vote button {
    display: block;
    border-radius: 2px;
    padding: .5em .3em;
}

.vote button:hover {
    cursor: pointer;
    background: rgba(0,0,0,.1);
}


.vote button[disabled]:hover {
    cursor: default;
    background: none;
}
